.header {
    grid-area: h;
    background-color: slateblue;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.header img{
    width: 50px;
}
.loginBlock {
    float: right;
}
.loginBlock a {
    color: white;
}
