.nav {
    grid-area: n;
    background-color: #ff8c00;
    padding: 30px;
    border-radius: 5px;
}
.item a{
    color: white;
    text-decoration: none;
}
.item a.activeLink{
    color: black;
}
.sidebar{
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    margin: 140px 10px 10px ;
    background-color: deepskyblue;
}
